<a href="https://colab.research.google.com/github/gimoonnam/AI-for-trading/blob/master/Practice_on_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd

## How to deal with dataframe in Pandas

In [31]:
a = np.array ([[1,2,3],[4,5,6]])
print(a[0])   # row 
print(a[:,1]) # column

[1 2 3]
[2 5]

In [15]:
df = pd.DataFrame(a, index=[0,1], columns=['A','B','C'])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [22]:
print(df.shape)
print(df.index, len(df.index))
print(df.columns, len(df.columns), list(df.columns))

(2, 3)
Int64Index([0, 1], dtype='int64') 2
Index(['A', 'B', 'C'], dtype='object') 3 ['A', 'B', 'C']

In [41]:
df2 = pd.DataFrame({"A":[1,4,7], "B":[2,5,8], "C":[3,6,9] })
print(df2)
print(df2.shape)
print(df2.iloc[0]) # print 0th row 
print(df2.loc[:,'A'])

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
(3, 3)
A    1
B    2
C    3
Name: 0, dtype: int64
0    1
1    4
2    7
Name: A, dtype: int64

In [55]:
# select a row and get the mean and std 
srow = df2.iloc[0]
print(type(srow))
print(srow.mean())
print(srow.std())

<class 'pandas.core.series.Series'>
2.0
1.0

In [51]:
# select a column and get the mean and std 
s = pd.Series(df2.loc[:,'A']) 
print(type(df2))
print(type(s))
print(np.mean(s), np.std(s))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
4.0 2.449489742783178

In [112]:
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

df3=pd.DataFrame(data=data, index=[2,'A',4],columns=[48, 49, 50])

print(df3)

print(df3.iloc[0][49])

df3.iloc[0][49]=100

print(df3)

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9
2
   48   49  50
2   1  100   3
A   4    5   6
4   7    8   9

In [62]:
print(df3.loc['A'])

print(df3.iloc[2]) #display 2nd row from 0-th row

48    4
49    5
50    6
Name: A, dtype: int64
48    7
49    8
50    9
Name: 4, dtype: int64

In [115]:
log_df3= np.log(df3)

print(type(log_df3))

<class 'pandas.core.frame.DataFrame'>

#Series에 대한 데이타 그룹화 

[link](https://nittaku.tistory.com/131)

In [136]:
url = 'https://raw.githubusercontent.com/gimoonnam/AI-for-trading/master/prices.csv'

df4 = pd.read_csv(url)

print(df4.head())

lprice = np.log(df4.loc[:,'price'])

df4['price'] = lprice

print(df4.head())

        price        date ticker
0  104.000000  2016-07-01      A
1  104.878151  2016-07-05      A
2  104.411909  2016-07-06      A
3  104.931957  2016-07-07      A
4  104.421274  2016-07-08      A
      price        date ticker
0  4.644391  2016-07-01      A
1  4.652799  2016-07-05      A
2  4.648344  2016-07-06      A
3  4.653312  2016-07-07      A
4  4.648433  2016-07-08      A

In [139]:
std = df4['price'].groupby(df4['ticker']).std()

std.idxmax(axis = 0)

'B'